@import "/src/assets/styles/colors";

.main {
  width: 80%;
  max-width: 1200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1rem;
}
